* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("back.jpg");
  background-color: #dae1ff;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
 }

.header {
  width: 40%;
  margin: 100px auto 0px;
  color: rgb(41, 18, 77);
  background:#dad4fc;
  text-align: center;
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 40%;
  margin: auto;
  padding: 20px;
  background: #dae1ffa1;
  border-radius: 0px 0px 20px 20px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 95%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  width: 50%; 
  font-size: 15px;
  color: white;
  background: #030030;
  border: none;
  border-radius: 10px;
}
.error {
  width: 95%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #b7eea1; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
